body{
    color: aliceblue;
    background-color: #22092C;
    font-family:"Oswald", sans-serif;
}
*{
 margin: 0;
 padding: 0;

}
h1{
    font-size: 55px;
   line-height: 75px; 
}
#projetos {
    text-decoration: none;
    color: #F05941;
}
header ul{

    background-image:linear-gradient(to bottom,#872341,#22092c00);
    padding:0;
    margin: 0;

}
li a:hover {
    transition: 0.3s;
    transform: scale(1.03);
    background: #872341;
  }
header ul li{ 
    display: inline-block;
    margin-left: 10rem;
}

header ul li a{ 
    display: block;
    color: white;
    font-size: 2rem ;
    padding: 14px 16px;
    text-decoration: none;
    
}
header ul li img{
    display: inline-block;
   
   
}
.principal{
    margin-left: 2%;
    width: 60%;
    padding: 2%;
    text-align: center;
    border: solid 0.1rem #ffffff;
    background-image:linear-gradient(to top, #be3144e0,#87234105);
 
}
.principal:hover{
    transition-delay: 0.5s;
    transition-duration: 2s;
}
#imagemprincipal{
    margin-left: 10%;
    padding-top: 6%;
    border: solid 0.1rem #ffffff;
    background-image:linear-gradient(to top, #0e63ae78,#1c1c95);
}
div{
    display: inline-block;
  }

